*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');

        body{
            background-color:$background-color-general !important;
        }

        img,
        svg {
          vertical-align: middle;
        }

        button,
select {
  text-transform: none;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}

button {
    border-radius: 0;
  }

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

@mixin img-fluid {
  max-width: 100%;
  height: auto;
}

.img_fluid{
  @include img-fluid()
}

  %heading {
    margin-bottom: $general-espacio;
    font-family: $general-font;
    font-weight: $general-weight;
  }

  @mixin font-size($value) {
    font-size: $value;
  }  

  h1 {
    @extend %heading;
    @include font-size($h1-font-size);
  }
  
  h2 {
    @extend %heading;
    @include font-size($h2-font-size);
  }
  
  h3 {
    @extend %heading;
    @include font-size($h3-font-size);
  }
  
  h4 {
    @extend %heading;
    @include font-size($h4-font-size);
  }
  
  h5 {
    @extend %heading;
    @include font-size($h5-font-size);
  }
  
  h6 {
    @extend %heading;
    @include font-size($h6-font-size);
  }