@function divide($dividend, $divisor, $precision: 10) {
    $sign: if($dividend > 0 and $divisor > 0 or $dividend < 0 and $divisor < 0, 1, -1);
    $dividend: abs($dividend);
    $divisor: abs($divisor);
    @if $dividend == 0 {
      @return 0;
    }
    @if $divisor == 0 {
      @error "Cannot divide by 0";
    }
    $remainder: $dividend;
    $result: 0;
    $factor: 10;
    @while ($remainder > 0 and $precision >= 0) {
      $quotient: 0;
      @while ($remainder >= $divisor) {
        $remainder: $remainder - $divisor;
        $quotient: $quotient + 1;
      }
      $result: $result * 10 + $quotient;
      $factor: $factor * .1;
      $remainder: $remainder * 10;
      $precision: $precision - 1;
      @if ($precision < 0 and $remainder >= $divisor * 5) {
        $result: $result + 1;
      }
    }
    $result: $result * $factor * $sign;
    $dividend-unit: unit($dividend);
    $divisor-unit: unit($divisor);
    @return $result;
  }

@mixin col-func($cant: null, $col: $col-cant){
    width: percentage(divide($cant, $col));
}

@mixin col-func-d($col: $col-cant){
    @for $i from 1 through $col{
        .col-#{$i}{
            @include col-func($i, $col);
        }
    }
}

@include col-func-d();


