$colorwhite: #fff;
$colorbordo: darkred;
$colornegro: black;
$background-color-general: #F4F4F4;
$ahover_backgcolor: #f8f9fa;
$ahover_border: 4px;
$ahover_color: #202124;
$boxshadow-banner:  0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;
$boxshadow-footer: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
$boxshadow-box:0px 1px 1px rgba(0, 0, 0, 0.25);
$width-minmobile: 202px;
$width-mobile: 576px;
$width-tablet: 992px;
$width-pc: 1024px;


