* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* FONTS */
@font-face {
  font-family: 'Mada-Light';
  src: url(../fonts/Mada/Mada-Light.ttf); }

@font-face {
  font-family: 'Mada-Regular';
  src: url(../fonts/Mada/Mada-Regular.ttf); }

@font-face {
  font-family: 'Mada-Black';
  src: url(../fonts/Mada/Mada-Black.ttf); }

body {
  background-color: #F4F4F4 !important; }

header {
  position: sticky;
  top: 0;
  z-index: 999; }

.h__ban {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start; }
  @media (min-width: 992px) {
    .h__ban {
      flex-direction: row; } }
  @media (max-width: 202px) {
    .h__ban {
      align-items: center; } }

.h__ban-top {
  align-items: center;
  display: flex;
  height: 80px;
  min-height: 80px; }
  @media (max-width: 202px) {
    .h__ban-top {
      flex-direction: column;
      height: auto; } }

.h__menu-opc {
  align-items: center;
  height: 100%;
  margin-left: 10px;
  max-height: 80px;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;
  width: 35px;
  flex-direction: column;
  justify-content: center;
  display: flex; }
  @media (min-width: 576px) {
    .h__menu-opc {
      display: none; } }

.h__menu-opc-btn {
  align-items: center;
  max-height: 68px;
  min-height: 68px;
  display: flex;
  width: auto;
  opacity: .5;
  border: none;
  background-color: #fff;
  padding: 5px; }

.offcanvas {
  --bs-offcanvas-width: 350px !important; }

.offcanvas-header {
  justify-content: center !important;
  align-items: normal !important; }

.h__ban-logo {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 7px;
  max-height: 80px;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center; }
  .h__ban-logo:hover {
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #202124; }

.h__ban-logo-link {
  align-items: center;
  display: flex;
  background: #fff;
  max-height: 68px;
  min-height: 68px;
  padding-left: 18px;
  padding-right: 18px;
  width: auto; }

.h__ban-logo-img {
  width: 150px;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  animation-name: logo;
  animation-duration: 2s; }
  @media (min-width: 992px) {
    .h__ban-logo-img {
      width: 200px; } }

@keyframes logo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.accordion-button-none {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  overflow-anchor: none; }

.h__offcanvas-logo {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 7px;
  max-height: 70px;
  padding-bottom: 6px;
  padding-top: 6px;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center; }
  .h__offcanvas-logo:hover {
    background-color: #f8f9fa;
    border-radius: 4px;
    color: #202124; }

.h__offcanvas-link {
  align-items: center;
  display: flex;
  background: #fff;
  max-height: 58px;
  min-height: 58px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto; }

.h__offcanvas-logo img {
  width: 68px;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  animation-name: logo;
  animation-duration: 2s; }

.btn-close {
  box-shadow: none !important; }

.accordion {
  --bs-accordion-active-bg: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-active-color: none !important;
  --bs-accordion-border-color: none !important;
  --bs-accordion-body-padding-y: 0 !important; }

.accordion-item a {
  display: flex;
  text-decoration: none !important;
  width: 100%; }

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important; }

.h__micarrito-logo {
  display: none;
  position: absolute;
  right: 0px;
  top: 86px;
  padding: 10px; }
  @media (min-width: 992px) {
    .h__micarrito-logo {
      top: 10px; } }
  @media (min-width: 576px) {
    .h__micarrito-logo {
      display: flex; } }

.h__navbar {
  align-items: center;
  flex-direction: column;
  display: none;
  height: 100%;
  max-height: 80px;
  width: 100%; }
  @media (min-width: 576px) {
    .h__navbar {
      display: flex;
      flex-direction: row; } }

.h__navbar-list {
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  align-items: flex-start;
  display: inline-block; }
  @media (min-width: 992px) {
    .h__navbar-list {
      margin-left: 100px !important; } }
  @media (min-width: 576px) {
    .h__navbar-list {
      display: flex;
      flex-direction: row;
      align-items: center !important;
      margin-left: 5px; } }
  .h__navbar-list h4 {
    font-family: 'Mada-Regular';
    letter-spacing: 1px;
    font-size: 12px;
    margin: 0px;
    font-weight: 500; }
    @media (min-width: 992px) {
      .h__navbar-list h4 {
        font-size: 14px; } }

.h__navbar-list li {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0px; }
  @media (min-width: 992px) {
    .h__navbar-list li {
      padding: 8px 0px; } }
  .h__navbar-list li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 48px;
    width: 100%;
    padding: 0px 14px; }
    @media (min-width: 992px) {
      .h__navbar-list li a {
        padding: 0px 18px;
        height: 64px; } }
    .h__navbar-list li a:hover {
      background-color: #f8f9fa;
      border-radius: 4px;
      color: #202124; }

.dropdown-menu {
  --bs-dropdown-border-radius: 0px !important;
  margin-top: 5px !important; }
  .dropdown-menu li {
    height: 50px; }
    .dropdown-menu li a {
      height: 45px; }

.m__boddy {
  display: flex;
  flex-direction: column; }

.m__gen-title {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  font-family: "Mada-Light" !important;
  letter-spacing: 1px;
  border-bottom: 1px solid #D9D9D9; }
  .m__gen-title h3,
  .m__gen-title h4 {
    margin-bottom: 0.2rem !important; }
  @media (min-width: 576px) {
    .m__gen-title {
      font-size: 14px !important; } }

.m__cont-frame {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.m__cont-box {
  display: flex;
  margin: 10px;
  background-color: #fff;
  width: 120px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 576px) {
    .m__cont-box {
      width: 170px;
      border-radius: 6px; } }

.m__cont-box-img {
  display: flex;
  padding: 5px;
  width: 100%;
  height: 90px; }
  @media (min-width: 576px) {
    .m__cont-box-img {
      height: 120px; } }
  .m__cont-box-img img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle; }

.m__cont-box-title {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 5px; }
  .m__cont-box-title h5 {
    font-size: 16px;
    letter-spacing: 0.25px;
    margin: 0; }
    @media (min-width: 576px) {
      .m__cont-box-title h5 {
        font-size: 18px; } }

.m__cont-box-precio {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px;
  justify-content: center; }

.m__cont-box-precio-desc {
  display: flex;
  width: 30px;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  align-items: center;
  text-align: center; }
  @media (min-width: 576px) {
    .m__cont-box-precio-desc {
      width: 35px;
      margin-right: 6px; } }
  .m__cont-box-precio-desc h5 {
    font-size: 10px;
    margin: 0;
    padding: 2px; }
    @media (min-width: 576px) {
      .m__cont-box-precio-desc h5 {
        font-size: 12px;
        margin: 0;
        padding: 2px; } }

.m__cont-box-precio-actual {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 3px; }
  @media (min-width: 576px) {
    .m__cont-box-precio-actual {
      margin-left: 6px; } }
  .m__cont-box-precio-actual h4 {
    padding: 2px;
    font-size: 15px;
    color: darkred; }
    @media (min-width: 576px) {
      .m__cont-box-precio-actual h4 {
        font-size: 18px; } }
  .m__cont-box-precio-actual h5 {
    margin: 0;
    padding: 2px;
    font-size: 12px;
    text-decoration: line-through; }
    @media (min-width: 576px) {
      .m__cont-box-precio-actual h5 {
        font-size: 15px; } }

.m__cont-box-sindesc {
  display: flex;
  margin: 10px;
  background-color: #fff;
  width: 100px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 576px) {
    .m__cont-box-sindesc {
      width: 150px;
      border-radius: 6px; } }

.m__cont-box-title-nov {
  width: 100%;
  display: inline-block;
  font-size: 9px;
  text-align: center;
  letter-spacing: 0.25px;
  padding: 5px; }
  @media (min-width: 576px) {
    .m__cont-box-title-nov {
      font-size: 11px; } }

.m__compu-box {
  display: flex;
  margin: 10px;
  background-color: #fff;
  width: 190px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  flex-direction: column;
  align-items: center; }
  .m__compu-box h5 {
    margin: 0;
    padding: 2px;
    font-size: 12px; }
    @media (min-width: 576px) {
      .m__compu-box h5 {
        font-size: 15px; } }
  @media (min-width: 576px) {
    .m__compu-box {
      border-radius: 4px;
      width: 230px; } }

.m__compu-box-img {
  display: flex;
  padding: 5px;
  width: 100%;
  height: 110px; }
  @media (min-width: 576px) {
    .m__compu-box-img {
      height: 130px; } }
  .m__compu-box-img img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle; }

.m__compu-box-title {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 5px;
  justify-content: center; }
  .m__compu-box-title h5 {
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.25px;
    margin: 0px; }
    @media (min-width: 576px) {
      .m__compu-box-title h5 {
        font-size: 18px;
        letter-spacing: 0.5px; } }

.m__compu-box-detalles {
  display: flex;
  align-items: center;
  padding: 8px; }
  .m__compu-box-detalles ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px; }
  .m__compu-box-detalles h6 {
    font-size: 10px;
    padding: 0px;
    margin: 0px; }
    @media (min-width: 576px) {
      .m__compu-box-detalles h6 {
        font-size: 12px; } }

.m__compu-box-prec-btc {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  justify-content: center;
  font-family: 'Mada-Regular'; }

.m__compu-box-prec-btc-precio {
  display: flex;
  padding: 2.5px 5px;
  text-align: center;
  background: black;
  border: 0.05px solid black;
  border-radius: 20px;
  color: #fff;
  margin-right: 5px;
  letter-spacing: 0.5; }
  @media (min-width: 576px) {
    .m__compu-box-prec-btc-precio {
      font-size: 12px; } }

.m__compu-box-prec-btc-button {
  display: flex;
  padding: 5px 10px;
  text-align: center;
  background: #fff;
  border: 0.5px solid black;
  border-radius: 10px;
  color: black;
  font-size: 10px;
  margin-left: 5px;
  text-decoration: none; }
  @media (min-width: 576px) {
    .m__compu-box-prec-btc-button {
      font-size: 12px; } }

.m__compu-box-masdet {
  font-size: 12px;
  padding: 5px; }
  @media (min-width: 576px) {
    .m__compu-box-masdet {
      font-size: 14px; } }

.m__celu-box {
  display: flex;
  margin: 10px;
  background-color: #fff;
  width: 170px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 576px) {
    .m__celu-box {
      border-radius: 5px;
      width: 200px; } }

.m__celu-box-img {
  display: flex;
  padding: 5px;
  width: 100%;
  height: 130px; }
  @media (min-width: 576px) {
    .m__celu-box-img {
      height: 150px; } }
  .m__celu-box-img img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle; }

.m__celu-box-title {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 5px; }
  .m__celu-box-title h5 {
    font-size: 16px;
    letter-spacing: 0.25px;
    margin: 0px; }
    @media (min-width: 576px) {
      .m__celu-box-title h5 {
        font-size: 18px;
        letter-spacing: 0.5px; } }

.m__celu-box-prec-btc {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  justify-content: center;
  font-family: 'Mada-Regular'; }

.m__celu-box-prec-btc-precio {
  display: flex;
  padding: 2.5px 10px;
  text-align: center;
  background: black;
  border: 0.05px solid black;
  border-radius: 20px;
  color: #fff; }
  .m__celu-box-prec-btc-precio h5 {
    font-size: 14px;
    letter-spacing: 0.5;
    margin-bottom: 2.5px;
    margin-top: 2.5px; }
    @media (min-width: 576px) {
      .m__celu-box-prec-btc-precio h5 {
        font-size: 16px; } }

.m__celu-box-prec-btc-button {
  display: flex;
  padding: 5px 10px;
  text-align: center;
  background: #fff;
  border: 0.5px solid black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  margin: 5px; }
  .m__celu-box-prec-btc-button h5 {
    font-size: 12px;
    margin: 0px; }
    @media (min-width: 576px) {
      .m__celu-box-prec-btc-button h5 {
        font-size: 16px; } }

.m__celu-box-masdet h5 {
  font-size: 12px;
  padding: 5px; }

@media (min-width: 576px) {
  .m__celu-box-masdet h5 {
    font-size: 14px; } }

.m__celu-box-colors {
  padding: 5px;
  display: flex;
  align-items: center; }

.m__celu-box-colors img {
  padding: 2px; }

.m__celu-box-masdet h5 {
  font-size: 12px;
  padding: 5px; }
  @media (min-width: 576px) {
    .m__celu-box-masdet h5 {
      font-size: 14px; } }

.m__celu-box-colors {
  padding: 5px;
  display: flex;
  align-items: center; }

.m__celu-box-colors img {
  padding: 2px; }

.m__contact-frame {
  display: flex;
  position: relative;
  background: #fff;
  width: 100%;
  padding: 30px;
  margin-top: 40px;
  border-radius: 20px;
  justify-content: center;
  margin-bottom: 50px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); }

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15); }

.bi {
  vertical-align: -.125em;
  fill: currentColor; }

.f__boddy {
  background-color: #F4F4F4; }
  .f__boddy img {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px; }
